---
import Prose from "../components/Prose.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Prose>
		<h1>7GUIs using SolidJS + Astro</h1>
		<ol>
			<li><a href="/counter">Counter</a></li>
			<li><a href="/temperature-converter">Temperature Converter</a></li>
			<li><a href="/flight-booker">Flight Booker</a></li>
			<li>TBA</li>
			<li>...</li>
		</ol>
	</Prose>

</Layout>
